{% extends "shared/_layout.html" %}
{% block title %}Register for PyPi{% endblock %}

{% block main_content %}

    <form action="" method="POST" class="account-form">
        <h1>Register at PyPi</h1>

        <input name="name" type="text" placeholder=" Your name" class="form-control" value="{{ name }}" required>
        <input name="email" type="email" placeholder=" Your email address" class="form-control" value="{{ email }}" required>
        <input name="password" type="password" placeholder=" Your password" class="form-control" value="{{ password }}" required>
        <input name="age" min="18" max="120" type="number" placeholder=" Your age in years" required>
        <button type="submit" class="btn btn-danger">Register</button>
        <div style="clear: both;"></div>

        {% if error %}
            <div class="error-msg">{{ error }}</div>
        {% endif %}
    </form>
{% endblock %}

{% block additional_css %}
<link rel="stylesheet" href="/static/css/account.css">

{% endblock %}
